/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}



/* common btn */
.common-btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
 background-color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: none;
    cursor: pointer;
    border: 1px solid #FD6E0A;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.text-color{
    color: #474747;
}

/* common style end */
header{
    background: #FFF8F3;
    position: relative;
    
}

.developer-img{
    position: absolute;
    top: 20px;
    left: 80px;
    
}

nav{
    display: flex;
    justify-content: space-between; 
    padding: 30px 0;
    
}
.logo{
    font-weight: bold;
    font-size: 33px;
}
.logo-r{
    color: #FD6E0A;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}

ul li a{
    text-decoration: none;
}
.bg-color{
    background: #FFF8F3;
}



/* hero section style */
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right ;
    margin-left: 250px;
    padding-right: 38px;
}


.hero-parent-bg{
  background: #FFF8F3;
}
.hero-short-des{
    font-size: 18px;
    font-weight: semi-bold;
    width: 585px;
}
.hero-left-into{
    font-size: 45px;
}
.short-des{
    color: #757575;
    font-size: 18px;
}
.hero-left h2{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.hero-left-btn-parent{
    margin-top: 30px;
    
}

.hero-left-first-btn {
    margin-right: 30px;
}
/* hero style end */

/* about style start */
.about-parent{
    margin-top: 130px;
    padding: 131px 157px;
    text-align: center;
}

.about-parent-heading{
  font-size: 35px;
  margin-bottom: 30px;
}
.about-parent p{
 font-weight: 20px;
}

.about-box-parent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.about-box-parent h2{
    color: #757575;
    font-size: 20px;

}
.about-box-parent p{
    font-weight: bold;
    font-size: 20px;
}
/* end about  */
 
/* star what-i-do-parent  */
.what-i-do-parent{
    margin-top: 130px;
    text-align: center;
}
.what-i-do-card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}
.what-i-do-parent h2{
    font-size: 35px;
    font-weight: bold;
}
.what-i-do-des{
    font-size: 18px;
    margin: 30px 260px;

}
.what-i-do-card{
    /* border: 2px solid black; */
    box-shadow:0px 6px 50px 0px #0000000f;
    padding: 30px;
    border-radius: 10px;
    height: 377px;
    text-align: start;
}
.what-i-do-card h2{
    margin: 30px 0;
    font-size: 20px;
    font-weight: bold;

}
.what-i-do-card p{
    font-size: 20px;
    color: #757575;
}
/* end what i do */

/* start resume summary style */
 .resume-parent{
   margin-top: 130px;
    text-align: center;

 }
 .resume-parent-left h2{
    font-size: 25px;
    font-weight: bold;
    
 }
 .resume-haading{
    margin-bottom: 113px;
 }
 .resume-box-parent{
    display: flex;
    gap: 70px;
    text-align: start;
 }
.resume-box-border{
    border-bottom: 2px solid rgba(0, 0, 0, 0.308);
}
 .resume-box h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: #474747;
    
 }

 .resume-box-des{
    font-size: 16px;
    color:#757575 ;
    margin: 30px 0;
 }
 .resume-box-education{
     margin-top: 10px;
     font-size: 20px;
     color: #757575;
 }

 /* end resume style */

 .works-parent{
    margin-top: 130px;
    text-align: center;
 }
 .workleft{
    margin-bottom: 50px;
 }
  .workright img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


.workright{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: 250px;
    gap: 24px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six";
    
   

   
 } 


.workbox1{
  grid-area: one;
}
.workbox2{
 grid-area: two;
}
.workbox3{
grid-area: three;

}
.workbox4{
    grid-area: four;
}
.workbox5{
    grid-area: five;
}
.workbox6{
  grid-area: six;
}

/* .workbox2{
    grid-column: 2;
    grid-row: 1/3;
}
.workbox4{                            another method 
  grid-column: 1;
  grid-row: 2/4;
}


.workbox6{
   grid-column: 3;
   grid-row: 2/4;
} */


/* end grid style */


/* footer */
footer{
    margin-top: 130px;
    background: #FFF8F3;
    
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    text-align: start;
    height: 780px;
    padding: 130px;
}

footer form input{
    border: none;
    outline: none;
    display: block;
    background-color: white;
    padding: 18px 8px;
    border-radius: 8px;
    width: 100%;
    margin: 20px 0;
}
.form-right{
    width: 50%;
    margin-bottom: 30px;
}
.form-right textarea{
    width: 100%;
    padding: 13px;
    border: none;
    margin-bottom: 20px;
}

.footer-left-parent h2{
    font-weight: bold;
    font-size: 35px;

}

.footer-left-parent p{
     margin-bottom: 30px;
     width: 80%;
     margin-top: 35px;
     
}
.footer-left-parent img{
    padding: 10px;
}
.form-right h2{
    font-size: 35px;
    font-weight: bold;
}