/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}



/* common btn */
.common-btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
 background-color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: none;
    cursor: pointer;
    border: 1px solid #FD6E0A;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.text-color{
    color: #474747;
}

/* common style end */
header{
    background: #FFF8F3;
    position: relative;
    
}

.developer-img{
    position: absolute;
    top: 20px;
    left: 80px;
    
}

nav{
    display: flex;
    justify-content: space-between; 
    padding: 30px 0;
    
}
.logo{
    font-weight: bold;
    font-size: 33px;
}
.logo-r{
    color: #FD6E0A;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}

ul li a{
    text-decoration: none;
}
.bg-color{
    background: #FFF8F3;
}



/* hero section style */
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right ;
    margin-left: 250px;
    padding-right: 38px;
}


.hero-parent-bg{
  background: #FFF8F3;
}
.hero-short-des{
    font-size: 18px;
    font-weight: semi-bold;
    width: 585px;
}
.hero-left-into{
    font-size: 45px;
}
.short-des{
    color: #757575;
    font-size: 18px;
}
.hero-left h2{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.hero-left-btn-parent{
    margin-top: 30px;
    
}

.hero-left-first-btn {
    margin-right: 30px;
}
/* hero style end */

/* about style start */
.about-parent{
    margin-top: 130px;
    padding: 131px 157px;
    text-align: center;
}

.about-parent-heading{
  font-size: 35px;
  margin-bottom: 30px;
}
.about-parent p{
 font-weight: 20px;
}

.about-box-parent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.about-box-parent h2{
    color: #757575;
    font-size: 20px;

}
.about-box-parent p{
    font-weight: bold;
    font-size: 20px;
}